.faqStyle {
    margin-bottom: 0px;
    padding: 20px;
    background-color: #232323;
    cursor: pointer;
    border-radius: 5px;
}

.faqAnswer {
    border-top: 1px solid #ffc107;
    padding: 20px;
    background-color: #141414;
}

.questionBox {
    margin-bottom: 10px;
    padding: 20px 20px 20px 10px;
    background-color: #232323;
    border-radius: 5px;
}

.userQuestionBox {
    margin-bottom: 10px;
    padding: 20px 20px 20px 10px;
    background-color: #333333;
    border-radius: 5px;
}

.glyphicon.glyphicon-chevron-up,
.glyphicon.glyphicon-chevron-down {
    font-size: 20px;
}

.glyphicon{
    cursor: pointer;    
}